In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
df = pd.read_excel('HMS_alldata_lakshya_22-02-18.xlsx', sheetname='Sheet1')

In [4]:
df.head()

,S.no.,Hospital,Address,Address.1,City,State,Unnamed: 6,State Code,Number,Beds,Status,Remarks,Unnamed: 12
0,503,CARE HOSPITAL-SECUNDERABAD,"NEAR CLOCK TOWER, ADJACENT LANE TO WESLEY CHURCH",MARKET STREET,HYDERABAD,TELANGANA,500003,40,66267777/ 27717736,NaN,No Response,Call not Connected,NaN
1,504,CAREER INSTITUTE OF MEDICAL SCIENCES,CAREER COLLEGE CAMPUS GOVINDPURA,BHEL BHOPAL,BHOPAL,MADHYA PRADESH,462023,755,2488090/2488680,NaN,No Response,Call not Connected,NaN
2,505,CAUVERY HOSPITAL,TERISIAN CRICLE,SIDDARTHA LAYOUT,MYSORE,KARNATAKA,570011,821,"2425000,2526000",150,Call Back,Call on 23-02-18,Mr.Chandershekhar
3,506,CAVVERY ORTHOPAEDIC CENTRE,"# 408, 20TH MAIN, IST BLOCK",RAJAJI NAGAR,BANGALORE,KARNATAKA,560010,80,"23125577, 23122366",NaN,No Response,Call not Connected,NaN
4,507,CAUVERY TRUST HOSPITAL,"NO-36, PONNANKINARU STREET",VILLIVAKKAM,CHENNAI,TAMIL NADU,600049,44,"26175806, 26175633",NaN,No Response,Call not Connected,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 13 columns):
S.no.          247 non-null int64
Hospital       247 non-null object
Address        247 non-null object
Address.1      246 non-null object
City           247 non-null object
State          247 non-null object
Unnamed: 6     247 non-null object
State Code     247 non-null int64
Number         247 non-null object
Beds           103 non-null object
Status         45 non-null object
Remarks        45 non-null object
Unnamed: 12    1 non-null object
dtypes: int64(2), object(11)
memory usage: 25.2+ KB

This database contains hospital data with address, number of beds and the status

The **Status, Remarks and the last column** are mostly empty

### Statewise distribution of the hospitals

In [7]:
df.groupby(['State'])['Hospital'].count()

State
AHMEDABAD            2
ALLAHABAD            1
AMRITSAR             3
ANDHRA PRADESH      10
ASSAM                1
BANGALORE            6
BARASAT              1
BHANDARA             1
CHANDIGARH           1
CHENNAI              8
COIMBATORE           2
DELHI                6
DIMAPUR              1
ERODE                2
FARIDABAD            1
GUJARAT              2
GURGAON              2
HARYANA             10
HIMACHAL PRADESH     1
HOOGHLY              1
HYDERABAD            5
JAIPUR               3
JALANDHAR            1
KALPETTA             1
KANPUR               2
KARIMNAGAR           1
KARNATAKA           28
KERALA              10
KOLKATA             10
KOZHIKODE            1
                    ..
MOHALI               1
MUMBAI               6
NAGPUR               1
NASHIK               1
NEW DELHI            9
NOIDA                1
ORISSA               1
PANVEL               1
PATNA                1
PONDICHERRY          1
PUDUCHERRY           1
PUDUKOTTAI           1
PUNE                 3
PUNJAB               6
RAJAPALAYAM          1
RAJASTHAN            4
SALEM                1
SATARA               1
TAMIL NADU          23
TELANGANA            7
TEZPUR               1
THANE                1
THRISSUR             1
TIRUCHENDUR          1
TIRUCHIRAPPALLI      1
TIRUPATI             1
UTTAR PRADESH        9
UTTARAKHAND          1
WEST BENGAL          3
YAMUNA NAGAR         1
Name: Hospital, dtype: int64

We can see an anamoly present in the data here, the state feature also has city values which can disrupt our analysis