In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df1 = pd.read_excel('Data_research_22_02_2018 (1)(1).xlsx', sheetname='Sheet1')

In [3]:
df1.head()

,Index,Company Name,Industry,Sub Industry,Company Type,Level Of Office,Location,Phone Number,Website
Swati,1,3M India Ltd,"Electrical , Electronics, Food , FMCG , Agricu...","FMCG, Equipments , Machines , Surgical Product...",India's Top 500,Head Office,Bangalore / Bengaluru / Karnataka \n\t- 560001,(080) 66595759,\n www.3m.com \n
Swati,2,ABB India Ltd,"Electrical , Electronics","Electrical , Electronics",India's Top 500,Head Office,Bangalore / Bengaluru / Karnataka \n\t- 560055,(080) 22949154,\n new.abb.com \n
Swati,3,BEML Ltd,"Capital Goods , Machines",NaN,India's Top 500,Head Office,Bangalore / Bengaluru / Karnataka \n\t- 560027,(080) 22963240 22963250,\n www.bemlindia.com \n
Swati,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Swati,5,Bharat Electronics Ltd,"Electrical , Electronics","Electrical , Electronics",India's Top 500,Head Office,Bangalore / Bengaluru / Karnataka \n\t- 560013,(080) 25039300 25039266,\n www.bel-india.com \n

In [4]:
df1.describe()

            Index
count  149.000000
mean    75.000000
std     43.156691
min      1.000000
25%     38.000000
50%     75.000000
75%    112.000000
max    149.000000

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149 entries, Swati to Laksh
Data columns (total 9 columns):
Index              149 non-null int64
Company Name       142 non-null object
Industry           142 non-null object
Sub Industry       138 non-null object
Company Type       142 non-null object
Level Of Office    142 non-null object
Location           142 non-null object
Phone Number       138 non-null object
Website            138 non-null object
dtypes: int64(1), object(8)
memory usage: 11.6+ KB

In [6]:
df1['Company Type'].unique()

array(["India's Top 500", nan, "India's 501-1000", 'MNC'], dtype=object)

In [7]:
df1.groupby(['Company Type']).describe()

                             Index
Company Type
India's 501-1000 count   32.000000
                 mean    49.093750
                 std      9.809013
                 min     33.000000
                 25%     40.750000
                 50%     49.500000
                 75%     57.250000
                 max     65.000000
India's Top 500  count   30.000000
                 mean    16.633333
                 std      9.282848
                 min      1.000000
                 25%      9.250000
                 50%     16.500000
                 75%     23.750000
                 max     32.000000
MNC              count   80.000000
                 mean   107.950000
                 std     24.349720
                 min     66.000000
                 25%     86.750000
                 50%    107.500000
                 75%    128.250000
                 max    149.000000